.app {
    position: relative;
    width: 100vw;
    height: 100vh;
    background:radial-gradient(148.17% 95.26% at 50.86% 100%, #e3e1ff 100%, #EDECFF 100%, rgba(227, 225, 225, 1) 100%, rgba(224, 223, 255, 1) 100%);
    overflow: hidden;
}